<head>
  <title>PointBlank Future</title>
  <link rel="stylesheet" href="/css/cssCenter.css" />
  <link rel="stylesheet" href='https://gamdom.com/build/client.5de082516dcb5eeeac3c.css' />
  <link rel="stylesheet" href='/css/cssNewStyle.css' />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
  </style>
</head>
<body style="position: relative;">
  <div id="router-container">
     <div class="viewport normal-design ">
        <div class="Toastify"></div>
        <div class="sc-bTDOke dXiuJH winter--snow_background">
           <button class="sc-dsXzNU iqNwfp burger">
              <div></div>
              <div></div>
              <div></div>
           </button>
           <div class="sc-jUfyBS LHWYt sidebar false">
              <nav class="sc-jQAxuV hsWAsh">
                 <div class="sc-daBunf druKCU"><a aria-current="page" class="link active active" href="/"><i class="sc-csTbgd kglWtV icon-home"></i><span>Home</span></a></div>
                 <div class="sc-daBunf bduvef"><a class="link " href="/crash"><i class="sc-csTbgd kglWtV icon-crash"></i><span>Crash</span></a></div>
                 <div class="sc-daBunf bduvef"><a class="link " href="/roulette"><i class="sc-csTbgd kglWtV icon-roulette"></i><span>Roulette</span></a></div>
                 <div class="sc-daBunf bduvef"><a class="link " href="/hilo"><i class="sc-csTbgd kglWtV icon-hilo"></i><span>Hilo</span></a></div>
                 <div class="sc-daBunf bduvef"><a class="link " id="casino-link" href="/casino"><i class="sc-csTbgd kglWtV icon-777"></i><span>Slots / Casino</span></a></div>
                 <div class="sc-daBunf bduvef"><a class="link " id="esports-link" href="/esports"><i class="sc-csTbgd kglWtV icon-sword"></i><span>E-Sports Betting</span></a></div>
                 <div class="sc-daBunf bduvef"><a class="link " id="sports-link" href="/sports"><i class="sc-csTbgd kglWtV icon-sports-field"></i><span>Sports Betting</span></a></div>
                 <a href="/koth">
                    <button class="sc-dIsUp hpZZkI">
                       <img src="https://gamdom.com/build/Coins.dac46cfe4fa6989aa53f6cfcfaacda36.1627.png" class="sc-carFqZ hBWCUB">
                       <span class="sc-iTVJFM oxVOu">
                          <span class="sc-iBzEeX glZmJR"><span class="currency-amount">$50k</span></span>
                          <div><span class="currency-amount">$50k</span></div>
                       </span>
                    </button>
                 </a>
                 <div size="750" class="sc-iqAclL ciIgn"></div>
                 <div class="sc-daBunf bduvef  small"><a href="/blog">Blog</a></div>
                 <div class="sc-daBunf bduvef  small"><a href="/affiliates">Affiliates</a></div>
                 <div class="sc-daBunf bduvef  small"><a href="/rewards">Rewards</a></div>
              </nav>
           </div>
           <div class="sc-lbVvki ghCdOs">
              <div class="sc-dFRpbK bFgzLZ"><a aria-current="page" class="logo active" href="/">
                 <img src="https://www.pikpng.com/pngl/b/54-540351_point-blank-pointblank-png-clipart.png" alt="Gamdom Logo" width="50"></a>
              </div>
              <div class="sc-hOPeYd eXirsP"><i class="sc-gSYDnn jcqGXt icon icon-players"></i>1216</div>
           </div>
           <div class="sc-fXazdy UjHkE">
              <div class="sc-fuISkM cHQuCr">
                 <a href="/koth">
                    <button class="sc-dIsUp kjbJT">
                       <img src="https://gamdom.com/build/Coins.dac46cfe4fa6989aa53f6cfcfaacda36.1627.png" class="sc-carFqZ hBWCUB">
                       <span class="sc-iTVJFM oxVOu">
                          <span class="sc-iBzEeX glZmJR"><span class="currency-amount">$50k</span></span>
                          <div><span class="currency-amount">$50k</span></div>
                       </span>
                    </button>
                 </a>
                 <div class="sc-cOifOu haQoIp"><button class="sc-hTRkXV sc-hhIiOg sc-eirqVv enlJuL iwisNA dSzotL">Login</button><button class="sc-hTRkXV sc-hhIiOg enlJuL iwisNA">Signup</button></div>
              </div>
           </div>
        </div>
        <div class="site_content site_content--winter">
         
           <div class="section_left" tabindex="0">
              <div class="chat_section">
                 <div class="chat_rooms ">
                    <div class="chat_rooms_head">
                       <div class="chat_lang">
                          <div class="chat_lang_hold chans_1">
                             <div class="tab selectedChannel  notClosable" title="English"><img class="chan_img" src="https://cdn.jsdelivr.net/npm/flag-icon-css@2.8.0/flags/4x3/gb.svg" alt="English"><span class="lan_close lan_close--chat hiddenX"></span></div>
                          </div>
                       </div>
                       <div class="chat_selector" tabindex="0"><span class="chat_link"><span>Chat Rooms <span class="icon-ARROW-righty chat_room_arrow"></span></span><span class="icon icon-down"></span></span></div>
                    </div>
                    <a class="chat_collapse"><span class="icon-angle-double-left "></span></a>
                    <div class="chatting_chat_msgs">
                       <div class="top-gradient"></div>
                       <div class="chat_input_hold">
                          <div class="chat_msgs">
                             <ul class="messages">
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/41/4187db9d89f6765701ce7a92ed798774a0d2d474.jpg" alt="SPIRIT"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">66</span></span><a class="chat_user_name">SPIRIT</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">gl inoplex</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">no p2p talk in english please</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/18/18e656f56b3eacd00b96a600649f3bc746c534d7.jpg" alt="z1k"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">25</span></span><a class="chat_user_name">z1k</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">ok</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">0.25x2: ty for understanding</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/7b/7b2e4ae0768847017ca29c1a6eec66379e97473f.jpg" alt="Kyotos 1"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">72</span></span><a class="chat_user_name">Kyotos 1</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">ty for understanding</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e1/e1befb924ef6e3ec53336990347b7a2802a9fc20.jpg" alt="xion gamdom.com"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">65</span></span><a class="chat_user_name">xion <span class="icon-balanceicon namepromotion" title="This user has activated the Name Promotion"></span></a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">ty for understandig</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">stop</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/3f/3f932092a2f22bb1fec55b0d5142a76b351f5e96.jpg" alt="Brigitte[62wpm]"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">38</span></span><a class="chat_user_name">Brigitte[62wpm]</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">bruh</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">nvm</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/41/4187db9d89f6765701ce7a92ed798774a0d2d474.jpg" alt="SPIRIT"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">66</span></span><a class="chat_user_name">SPIRIT</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">ty for understanding</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">stop</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/41/4187db9d89f6765701ce7a92ed798774a0d2d474.jpg" alt="SPIRIT"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">66</span></span><a class="chat_user_name">SPIRIT</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">oke oke</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/0537ae51b35e12b9e0d241dbcddb993b.jpg?d=identicon" alt="Gouza"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">38</span></span><a class="chat_user_name">Gouza</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">mod can you help me...</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/41/4187db9d89f6765701ce7a92ed798774a0d2d474.jpg" alt="SPIRIT"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">66</span></span><a class="chat_user_name">SPIRIT</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">i was in phone</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e1/e1befb924ef6e3ec53336990347b7a2802a9fc20.jpg" alt="xion gamdom.com"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">65</span></span><a class="chat_user_name">xion <span class="icon-balanceicon namepromotion" title="This user has activated the Name Promotion"></span></a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">fuck</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/41/4187db9d89f6765701ce7a92ed798774a0d2d474.jpg" alt="SPIRIT"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">66</span></span><a class="chat_user_name">SPIRIT</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">thank u my friend</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">close xion</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e1/e1befb924ef6e3ec53336990347b7a2802a9fc20.jpg" alt="xion gamdom.com"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">65</span></span><a class="chat_user_name">xion <span class="icon-balanceicon namepromotion" title="This user has activated the Name Promotion"></span></a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">:(</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/0537ae51b35e12b9e0d241dbcddb993b.jpg?d=identicon" alt="Gouza"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">38</span></span><a class="chat_user_name">Gouza</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">i deposited 0.00045 bitcoin which is the lowest but it has been 30 min and my money hasnt comed yet</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://gamdom.com/profile-img/10432713-profile.jpg?0.37096191070862816" alt="Crash"></span><span class="xp_50"><i class="icon icon-diamond2"></i><span class="level_val">58</span></span><a class="chat_user_name">Crash</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">.</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">gouza is it confirmed?</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/74/74b65f364dbeb8e0eca74ac25e4d248d7f7d0ac8.jpg" alt="♛ JvW"></span><span class="xp_50"><i class="icon icon-diamond2"></i><span class="level_val">58</span></span><a class="chat_user_name">♛ JvW</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">why doesnt it show my tf2 item</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/0537ae51b35e12b9e0d241dbcddb993b.jpg?d=identicon" alt="Gouza"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">38</span></span><a class="chat_user_name">Gouza</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">it just says pending</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/0537ae51b35e12b9e0d241dbcddb993b.jpg?d=identicon" alt="Gouza"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">38</span></span><a class="chat_user_name">Gouza</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">dont know what to do</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">just wait for it to be confirmed then</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/0537ae51b35e12b9e0d241dbcddb993b.jpg?d=identicon" alt="Gouza"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">38</span></span><a class="chat_user_name">Gouza</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">how much longer do you think</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">and jvw is it loading?</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5c/5c079c72f1448d97f28ee8a8052bddfc5238c826.jpg" alt="Inoplex"></span><span class="xp_50"><i class="icon icon-diamond2"></i><span class="level_val">52</span></span><a class="chat_user_name">Inoplex</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">look at steam jvw</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">idk gouza it depends on how long it takes to get the confirmations</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/0537ae51b35e12b9e0d241dbcddb993b.jpg?d=identicon" alt="Gouza"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">38</span></span><a class="chat_user_name">Gouza</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">aigth</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5c/5c079c72f1448d97f28ee8a8052bddfc5238c826.jpg" alt="Inoplex"></span><span class="xp_50"><i class="icon icon-diamond2"></i><span class="level_val">52</span></span><a class="chat_user_name">Inoplex</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">i think i needs a week</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/14/141ce6b0ab314dccfca928f0009850c4285131eb.jpg" alt="Milo 50"></span><span class="xp_80"><i class="icon icon-diamond2"></i><span class="level_val">89</span></span><a class="chat_user_name">Milo 50</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">wow big trivias</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/e1/e1befb924ef6e3ec53336990347b7a2802a9fc20.jpg" alt="xion gamdom.com"></span><span class="xp_60"><i class="icon icon-diamond2"></i><span class="level_val">65</span></span><a class="chat_user_name">xion <span class="icon-balanceicon namepromotion" title="This user has activated the Name Promotion"></span></a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">xd</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/b768a746ea29dadb4eaceca7a9ba282b.jpg?d=identicon" alt="H03 ㅤㅤㅤㅤㅤ"></span><span class="xp_50"><i class="icon icon-diamond2"></i><span class="level_val">58</span></span><a class="chat_user_name">H03 ㅤㅤㅤㅤㅤ</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">Last nado?</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">its been about an hour</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/aa31f4d3f539b898d2058345a6a69a4f.jpg?d=identicon" alt="i love kebab"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">22</span></span><a class="chat_user_name">i love kebab</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">yo</span>
                                </li>
                                <li class="chat_msg rain-message msg-bot">
                                   <div class="colorbar rain"></div>
                                   <span class="chat_user"><span class="chat_user_prof"><img src="/build/rain.bf88454b2b74742c932fb63871f14cc2.51.png" alt="Rain bot"></span><span class="xp_40"><i class="icon"></i><span class="level_val">19:18 </span></span><a class="chat_user_name">Rain bot</a><span class="rainDropdown"><span class="tipRainArrow"></span><span class="tipRain">Tip</span></span><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">: </span></span></span><span class="chat_cont">33 users have been sent a total of <span class="currency-amount">$14.02</span>.</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">o/</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://gamdom.com/profile-img/3518225-profile.jpg?0.41369997835255345" alt="Hajrun59"></span><span class="xp_50"><i class="icon icon-diamond2"></i><span class="level_val">56</span></span><a class="chat_user_name">Hajrun59</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">yo i hate kebab</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/aa31f4d3f539b898d2058345a6a69a4f.jpg?d=identicon" alt="i love kebab"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">22</span></span><a class="chat_user_name">i love kebab</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">u dont know whats good  then</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://gamdom.com/profile-img/3518225-profile.jpg?0.41369997835255345" alt="Hajrun59"></span><span class="xp_50"><i class="icon icon-diamond2"></i><span class="level_val">56</span></span><a class="chat_user_name">Hajrun59</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">nah i literally ate too much of it and now i just cant look at it xd</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/29/29949196bd707ffe442ab023d239e4d009897460.jpg" alt="J.Hawkins"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">26</span></span><a class="chat_user_name">J.Hawkins</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">Where do i promote?</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/6bb4ad49c07d598d675033d0857cf889.jpg?d=identicon" alt="BlackSonicLol"></span><span class="xp_40 gamdom-logo"><i class="icon icon-gammdom-symbol"></i><span class="level_val">45</span></span><a class="chat_user_name">BlackSonicLol</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">.</span>
                                </li>
                                <li class="chat_msg msg-moderator-message">
                                   <div class="colorbar moderator"></div>
                                   <span class="user chat_moderator"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/dc/dc4674a1d492466d9123b3a01a027b7bd7c7c232.jpg" alt="Slowinder 5.69"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">78</span></span><span class="xp_0"><i class="icon"></i><span class="level_val">Moderator</span></span><a class="chat_user_name">Slowinder 5.69</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">p2p can be promoted in other chat</span>
                                </li>
                                <li class="chat_msg rain-message msg-bot">
                                   <div class="colorbar rain"></div>
                                   <span class="chat_user"><span class="chat_user_prof"><img src="/build/rain.bf88454b2b74742c932fb63871f14cc2.51.png" alt="Rain bot"></span><span class="xp_40"><i class="icon"></i><span class="level_val">19:29 </span></span><a class="chat_user_name">Rain bot</a><span class="rainDropdown"><span class="tipRainArrow"></span><span class="tipRain">Tip</span></span><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">: </span></span></span><span class="chat_cont">28 users have been sent a total of <span class="currency-amount">$14.56</span>.</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/2d/2d7a2a3b2457338582cf6be70ce40a3d0e121b68.jpg" alt="Genetta Gamdom.com"></span><span class="xp_80"><i class="icon icon-diamond2"></i><span class="level_val">88</span></span><a class="chat_user_name">Genetta <span class="icon-balanceicon namepromotion" title="This user has activated the Name Promotion"></span></a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">D</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/14/141ce6b0ab314dccfca928f0009850c4285131eb.jpg" alt="Milo 50"></span><span class="xp_80"><i class="icon icon-diamond2"></i><span class="level_val">89</span></span><a class="chat_user_name">Milo 50</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">crash so good fuck</span>
                                </li>
                                <li class="chat_msg msg-user-message">
                                   <div class="colorbar user"></div>
                                   <span class="user chat_user"><span class="chat_user_prof"><img src="https://www.gravatar.com/avatar/2041336dc6733a993b18e65102b9b048.jpg?d=identicon" alt="ketenroy"></span><span class="xp_70"><i class="icon icon-diamond2"></i><span class="level_val">73</span></span><a class="chat_user_name">ketenroy</a><span class="chat_user_ico"><i class="icon-gammdom-symbol"></i><span class="chat_user_colen">:</span></span></span><span class="chat_cont">Jinks</span>
                                </li>
                                <li class="chat_msg msg-chat-message msg-info-message">
                                   <div class="colorbar info"></div>
                                   Koko06 just won <span class="currency-amount">$1,719.94</span> while playing First Person Blackjack
                                </li>
                             </ul>
                          </div>
                          <div class="chat_input_contain disabled">
                             <input type="text" class="chat_input" maxlength="500" placeholder="Login to chat..." disabled=""><span class="icon-paper-plane chat_send"></span>
                             <div><a class="emoji"><span class="icon icon-emoji"></span></a></div>
                          </div>
                          <div class="spinner-pre-loader"></div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="section_right">
              <!-- CONTENTE -->
              <div class="sc-dprnXS eyUYsL">
                 <div class="sc-kMGnOH gIgWXs">
                    <div class="sc-kqfmhM fOrnJt">
                       <div class="sc-ffgBur OeZLy" style="    display: flex;
                          flex-wrap: wrap;">
                          <div class="sc-eLSyJA lJvlA" style=" flex: 0 0 21%;">
                             <a href="/app/trade/create">
                                <div class="item">
                                   <div class="modal-items-evolution add" data-toggle="tooltip" data-html="true" title="" data-bs-original-title="<b style='color: #ffc659'>Create Trade</b><br><span>Create your trade now and trade items with another user!</span>">
                                      <div class="title">
                                         <h3 style="color: rgb(0 2 0);">Create Trade</h3>
                                      </div>
                                      <div class="modal-items-item" style="background: rgb(239 239 239 / 0%);">
                                         <img src="/images/more-icon-png-7.jpg" class="item">
                                      </div>
                                      <!--  <div class="css-12tf9og" style="background: rgb(214 214 214);color: rgb(155, 134, 95);">
                                         <span class="css-rjdkb">
                                            <svg class="css-qc1t6j" viewBox="0 0 24 24">
                                               <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z"></path>
                                            </svg>
                                            522K
                                         </span>
                                         </div>-->
                                   </div>
                                </div>
                             </a>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <span></span><span></span>
        </div>
        <div id="footer" class="footer  chatActive">
           <div class="footer__links">
              <div class="footer__container center flex">
                 <div class="links">
                    <div class="col">
                       <h5>Info</h5>
                       <ul>
                          <li><a href="/help#what-is-gamdom">About Us</a></li>
                          <li><a href="/support">Careers</a></li>
                          <li><a href="/support">Partnership</a></li>
                          <li><a href="/terms">TOS</a></li>
                          <li><a href="/refundpolicy">Policies</a></li>
                          <li><a href="/fair">Provably Fair</a></li>
                       </ul>
                    </div>
                    <div class="col">
                       <h5>Promotional</h5>
                       <ul>
                          <li><a href="/profile">Rewards</a></li>
                          <li><a href="/namepromotion">Name Promotion</a></li>
                          <li><a href="/affiliates">Affiliates</a></li>
                       </ul>
                    </div>
                    <div class="col">
                       <h5>Games</h5>
                       <ul>
                          <li><a href="/casino">Slots</a></li>
                          <li><a href="/crash">Crash</a></li>
                          <li></li>
                          <li><a href="/roulette">Roulette</a></li>
                          <li><a href="/hilo">HiLo</a></li>
                          <li></li>
                          <li><a href="/casino">Casino</a></li>
                       </ul>
                    </div>
                    <div class="col">
                       <h5>Support</h5>
                       <ul>
                          <li><a href="/support">Contact Us</a></li>
                          <li><a href="/help">FAQ</a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="socials">
                    <div class="col">
                       <h5>Social Media</h5>
                       <ul>
                          <li><a href="//twitter.com/GamdomOfficial" rel="noreferrer noopener nofollow" target="_blank"><i class="icon-twitter"></i><span>Follow our Twitter</span></a></li>
                          <li><a href="//www.instagram.com/officialgamdom/" rel="noreferrer noopener nofollow" target="_blank"><i class="icon-instagram"></i><span>Follow our Instagram</span></a></li>
                          <li><a href="//vk.com/official_gamdom" rel="noreferrer noopener nofollow" target="_blank"><i class="icon-vk"></i><span>Follow our VK</span></a></li>
                       </ul>
                    </div>
                    <div class="col">
                       <h5>&nbsp;</h5>
                       <ul>
                          <li><a href="//t.me/joinchat/DMvkn1i2MVPbdxyb04KIMA" rel="noreferrer noopener nofollow" target="_blank"><i class="icon-telegram-icon"></i><span>Join our Telegram</span></a></li>
                          <li><a href="//discord.gg/NxHSCquG9v" rel="noreferrer noopener nofollow" target="_blank"><i class="icon-discord-icon"></i><span>Join our Discord</span></a></li>
                          <li><a href="//www.youtube.com/channel/UCehn0455SQyGJ9td_NyLp3w" rel="noreferrer noopener nofollow" target="_blank"><i class="icon-youtube-icon"></i><span>Subscribe on Youtube</span></a></li>
                       </ul>
                    </div>
                 </div>
                 <div class="warnings">
                    <div class="row"><a href="https://www.gamstop.co.uk/" rel="noreferrer noopener nofollow" target="_blank"></a><a href="https://www.gamcare.org.uk/" rel="noreferrer noopener nofollow" target="_blank"><img src="/build/Gamcare.b8257c67a1e0511df15f961365d9f12b.svg" alt="Gamcare"></a></div>
                    <div class="row"><a href="https://www.begambleaware.org/" rel="noreferrer noopener nofollow" target="_blank"><img src="/build/Aware.c672ed7e6c3889f4f5801b36b44e89b0.193.png" alt="Aware"></a></div>
                    <div class="row row--full">
                       <div class="text">Warning: Gambling can be addictive</div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="footer__copyright">
              <div class="footer__container center flex space">
                 <div class="company">
                    <div class="egaming"><a href="https://licensing.gaming-curacao.com/validator/?lh=bb390de0015095aeb8b85462bb9a7480" rel="noopener nofollow" target="_blank"><img src="/build/GC.d2fa9bcc5268d4f88d3ea5f4a4b09f20.208.png" alt=""></a></div>
                    <div class="text">Copyright © 2016-2021 Smein Hosting N.V. Abraham de Veerstraat 9, Willemstad, Curacao (Company Registration No. 141727)<br>Payment processing: Vilnius IT Solutions UAB, Ateities g. 31B-101, LT-06326 Vilnius (Company Registration No. 304988128)</div>
                 </div>
                 <div class="providers">
                    <div class="payments"><img src="/build/mastercard.61e32d1df769c9f27c3bc9063b883873.svg" alt="Card"><img src="/build/ecopayz.1622781df768524115c803d3ce62a438.svg" alt="Ecopayz"></div>
                 </div>
              </div>
           </div>
           <span style="display: none;"></span><span style="display: none;"></span>
        </div>
     </div>
  </div>
  <div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon652875744246"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon122852212647" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=27011272&amp;Ver=2&amp;mid=b4c06af1-be45-4905-8a58-732008b6472e&amp;sid=3cc7cc40e9aa11eb81bb4dd39e6f157a&amp;vid=3cc81030e9aa11eb9cbcf1e98a61d928&amp;vids=1&amp;pi=1200101525&amp;lg=pt-BR&amp;sw=1680&amp;sh=1050&amp;sc=24&amp;tl=CS%3AGO%20Gambling%20Site%20%7C%20Bet%20Skins%20on%20Roulette%20%26%20Crash%20Casino&amp;kw=Gambling,%20Skins,%20Counterstrike,%20Global%20Offensive,%20free,%20profit,%20crash,%20bust,%20Casino&amp;p=https%3A%2F%2Fgamdom.com%2F&amp;r=https%3A%2F%2Fwww.google.com%2F&amp;lt=2707&amp;evt=pageLoad&amp;msclkid=N&amp;sv=1&amp;rn=242621"></div>
  <div dir="ltr" class="resize-sensor" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
     <div class="resize-sensor-expand" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
        <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 1685px; height: 456px;"></div>
     </div>
     <div class="resize-sensor-shrink" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
        <div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 200%; height: 200%;"></div>
     </div>
  </div>
</body>